<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:theme="@style/Theme.AndroidPluginLearn">

        <!-- 占坑的Activity -->
        <activity android:name=".activity.ProxyActivity"/>

        <activity android:name=".activity.reflect.StubReflectActivity"/>

        <activity android:name=".activity.ainterface.StubInterfaceActivity"/>

        <service android:name=".service.StubService" />

        <provider
            android:authorities="com.zyp.stubprovider"
            android:name=".contentprovider.StubContentProvider" />
    </application>
</manifest>